body {
    align-content: center;
    text-align: center;
    background-color: #638d67;
}

form {
    border-style: none;
    border-color: inherit;
    border-width: 10px;
    background-color: azure;
    font-family: 'Lucida Sans Unicode';
    width: 1000px;
    height: 1000px;
    position: relative;
    margin: 20px auto;
    border-radius: 20px;
    top: 0px;
    left: 0px;
}

#datos {
    margin: 40px;
    font-size: 20px;
    margin-top: 20px;
    background-color: azure;
}


h1 {
    text-align: center;
    font-family: Gill Sans MT;
    top: 20px;
    margin-top: auto;
    font-size: 40px;
    background: #701F1F;
    color: white;
}

.sec1 {
    margin: 10px;
    top: 50px;
    background: azure;
    border-radius: 10px;
}

#nombre {
    background: azure;
    width: 300px;
    height: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    border-radius: 30px;
}

#nombreU {
    background: azure;
    width: 300px;
    height: 30px;
    margin-left: 60px;
    margin-bottom: 20px;
    border-radius: 30px;
}

#apellidoU {
    background: azure;
    margin-left: 125px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
}

#apellido1 {
    background: azure;
    margin-left: 350px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
}

#user {
    background: azure;
    width: 250px;
    height: 25px;
    border-radius: 20px;
}

#pass {
    background: azure;
    width: 300px;
    height: 30px;
    margin-left: 80px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#passU {
    background: azure;
    width: 300px;
    height: 30px;
    margin-left: 80px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#pass2 {
    background: azure;
    margin-left: 320px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
}

#pass22U {
    background: azure;
    margin-left: 125px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
}

#fnac {
    background: azure;
    width: 250px;
    height: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 20px;
}

#pais1 {
    background: azure;
    margin-left: 225px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
}

#pais {
    margin-left: 125px;
    border-radius: 20px;
}

#correo {
    background: azure;
    width: 300px;
    height: 30px;
    margin-left: 80px;
    border-radius: 20px;
}

#Button1 {
    border-radius: 30px;
    background: #5EBF67;
    font-family: Gill Sans MT, bold;
    font-size: 20px;
    text-align:center;
    }