body {
    background-color: #83aaa0;

}

h1{
    text-align: center;
    font-family: Gill Sans MT;
    top: 20px;
    margin-top: auto;
    font-size: 40px;
    background: #701F1F;
    color: white;
}

#form1 {
    text-align: center;
}

#entrar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    background-color: white;
    margin-left :auto;
    margin-right:auto;
    width: 400px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}

#Label2 {
    margin-top: 20px;
    margin-top: 20px;
}

#user {
    margin-top: 20px;
    border-radius: 20px;
    width: 150px;
    height: 25px;
}

#pass {
    margin-top: 20px;
    border-radius: 20px;
    width: 150px;
    height: 25px;
}

#Button1{
    margin-top: 20px;
    width: 110px;
    height: 25px;
    background-color: #548757;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    font-size: 17px;
}