body {
    background-color: azure;
}

#cabecera {
    text-align: center;
    font-family: Gill Sans MT;
    top: 20px;
    margin-top: auto;
    font-size: 20px;
    background: #396B37;
    color: white;
}

#Dpartidas {
    margin-top: 40px;
}

#nom {
    margin-left: 150px;
    font-weight: bold;
}

#ap {
    margin-left: 200px;
    font-weight: bold;
}

#nomU{
    margin-left: 300px;
}

#correo{
    margin-left: 50px;
}

#fnac{
    margin-left: 100px;
}

#pais{
    margin-left: 140px;
}

.prin {
    font-weight: bold;
}

.texto{
    margin-left:20px;
}

.datos {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9902a;
    width: 1000px;
    height: 224px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
   
}
